:root {
  font-family: var(--vscode-font-family);
  font-size: var(--vscode-font-size);
  color: var(--vscode-foreground);
  background: var(--vscode-sideBar-background);
}

#app {
  display: flex;
  flex-direction: column;

  max-width: 720px;
  height: 100vh;
  margin-inline: auto;
}

* {
  box-sizing: border-box;
}

body {
  margin: unset;
}

p,
ul,
ol {
  margin-block: unset;
}

button,
textarea {
  font: inherit;
}
